.list {
  width: 100%;
  margin-bottom: 50px;
}

.list :global(.swiper-slide) {
  width: auto;
}

.rugsPics {
  display: block;
  height: 300px;
  width: auto;
  object-fit: cover;
  border-radius: 10%;
}
.rugsPics:hover {
  transform: scale(0.99);
}
@media only screen and (min-width: 768px) {
  .rugsPics {
    height: 400px;
  }
}
@media only screen and (min-width: 1280px) {
  .rugsPics {
    height: 500px;
  }
}
