.hero {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.596), rgba(255, 255, 255, 0.596)),
    url(/grid.webp);
  background-size: 960px 349px;
}
@media only screen and (min-width: 768px) {
  .hero {
    gap: 16px;
  }
}
.heroBtn {
  width: 80%;
  color: #86224f;
  background-image: linear-gradient(#fca9d3, #f15b97);
  padding: 15px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 5px;
  text-indent: 5px;
  text-align: center;
  transition: 300ms;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 4px 8px 15px 0px #86224f62;
}

.heroBtn:hover {
  background-image: linear-gradient(#86224f, #f15b97);
  color: #fff;
  border-radius: 50px;
}

.heroText {
  color: #f15b97;
  font-size: 16px;
  letter-spacing: 10px;
  opacity: 70%;
  margin: 0;
}

.how {
  position: relative;
  border-radius: 50px;
}
.how::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(/bg.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.35;
  z-index: -1;
}

.collection {
  position: relative;
}
.collection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(/bg.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.35;
  z-index: -1;
}

.howList {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0px;
}
@media only screen and (max-width: 1279px) {
  .howList {
    flex-direction: column;
  }
}

.howItem {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 4px #d64f853a solid;
  padding: 20px;
  box-shadow: 4px 8px 15px 0px #86224f25;
  transition: 250ms ease;
  background-color: rgba(255, 255, 255, 0.61);
  /* background-color: #00000010; */
  box-shadow: 4px 8px 15px 0px #86224f62;
  border-radius: 40px;
}
.howItem:hover {
  transform: scale(1.01);
}

.howText {
  text-align: center;
  font-size: 20px;
  color: #d64f85;
  opacity: 70%;
}

.howHeading {
  text-align: center;
  font-size: 26px;
  color: #d64f85;
}
.howIcon {
  flex-shrink: 0;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media only screen and (min-width: 768px) {
  .aboutMe {
    gap: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .aboutMe {
    gap: 48px;
  }
}
.aboutMeImg {
  width: auto;
  height: auto;
  border-radius: 50px;
  box-shadow: 4px 8px 15px 0px #86224f62;
}
.aboutMeInfo {
  box-shadow: 4px 8px 15px 0px #86224f62;
  border-radius: 40px;
}
.aboutMeText {
  color: #d64f85;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  padding: 30px;
  opacity: 70%;
}
.aboutMeHeadingMob {
  display: block;
  margin-bottom: 0;
}
.aboutMeHeadingPc {
  display: none;
}

.instagram {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.596), rgba(255, 255, 255, 0.596)),
    url(/grid.webp);
  background-size: 960px 349px;
}

@media only screen and (min-width: 768px) {
  .heroText {
    font-size: 24px;
  }
  .heroBtn {
    padding: 30px;
  }
  .aboutMeText {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .heroBtn {
    font-size: 24px;
  }
  .aboutMe {
    flex-direction: row;
  }
  .aboutMeHeadingMob {
    display: none;
  }
  .aboutMeHeadingPc {
    display: block;
    margin-top: 48px;
  }
  .aboutMeText {
    max-width: 70%;
    margin: 0 auto;
    font-size: 24px;
    padding: 0;
  }
}
