.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  padding-bottom: 80px;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
    url(/grid.webp);
  background-size: 500px 150px;
}
.heroBtn {
  width: 80%;
  background-color: #fff;
  color: #86224f;
  background-image: linear-gradient(#fca9d3, #f15b97);
  padding: 15px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 5px;
  text-indent: 5px;
  text-align: center;
  transition: 300ms;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}

.heroBtn:hover {
  background-image: linear-gradient(#86224f, #f15b97);
  color: #fff;
  border-radius: 50px;
}

.firstHeading {
  background-image: linear-gradient(#86224f, #f15b97);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -4%;
}
.heroText {
  color: #f15b97;
  font-size: 16px;
  letter-spacing: 10px;
  opacity: 70%;
}

.secondHeading {
  background-image: linear-gradient(#86224f, #f15b97);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -4%;
  text-align: center;
}

.how {
  position: relative;
  border-radius: 50px;
  padding: 40px;
}
.how::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(/bg.JPG);
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
  border-radius: 50px;
}

.collection {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
    url(/grid.webp);
  background-size: 500px 150px;
}

.howList {
  margin-top: 60px;
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0px;
}
@media only screen and (max-width: 1279px) {
  .howList {
    flex-direction: column;
  }
}

.howItem {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 4px #d64f853a solid;
  padding: 20px;
}

.howText {
  text-align: center;
  font-size: 20px;
  color: #d64f85;
  opacity: 70%;
}

.howHeading {
  text-align: center;
  font-size: 26px;
  color: #d64f85;
}
.howIcon {
  flex-shrink: 0;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  padding: 20px;
  position: relative;
}
.aboutMe::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(/bg.JPG);
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
  border-radius: 50px;
}
.aboutMeImg {
  width: auto;
  height: auto;
  border-radius: 50px;
}
.aboutMeText {
  color: #d64f85;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  padding: 20px;
  opacity: 70%;
}
.aboutMeHeadingMob {
  display: block;
}
.aboutMeHeadingPc {
  display: none;
}

.instagram {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
    url(/grid.webp);
  background-size: 500px 150px;
}

@media only screen and (min-width: 768px) {
  .firstHeading {
    font-size: 48px;
  }
  .heroText {
    font-size: 24px;
  }
  .secondHeading {
    font-size: 48px;
  }
  .heroBtn {
    padding: 30px;
  }
  .aboutMeText {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .firstHeading {
    font-size: 64px;
  }
  .hero {
    padding-bottom: 120px;
  }
  .heroBtn {
    font-size: 24px;
  }
  .secondHeading {
    font-size: 64px;
  }
  .aboutMe {
    flex-direction: row;
    padding: 40px;
  }
  .aboutMeHeadingMob {
    display: none;
  }
  .aboutMeHeadingPc {
    display: block;
  }
  .aboutMeText {
    max-width: 70%;
    margin: 0 auto;
    font-size: 24px;
  }
  .collection {
    margin-top: 90px;
  }
}
