.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(/bg.jpg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.homeLink {
  transition: 300ms;
}

.homeLink:hover {
  transform: scale(1.05);
}

.imgWrap {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-weight: 500;
  font-size: 20px;
}

.navLink {
  text-decoration: none;
  color: #d13a7e;
  padding: 12px;
  border-radius: 20px;
  transition: 300ms;
}
.navLink:hover,
.navLink:focus {
  background-image: linear-gradient(#86224f, #f15b97);
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .imgWrap {
    align-items: center;
  }
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }
}

.developer {
  font-size: 12px;
  opacity: 30%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
